* {
  margin: 0;
  padding: 0;
}

body {
  /*background: url("../images/grid.png") top center repeat-y;*/
  font-size: 16px;
  line-height: 1.5;
  font-family: "ff-meta-web-pro-1","ff-meta-web-pro-2";
  -webkit-font-smoothing: antialiased;
}

.container {
  width: 620px;
  margin: 24px auto;
}

header {
  display: block;
  margin: 0 0 41px 0;
}

header h1 {
  float: left;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 214px;
  height: 103px;
  margin: 0 0 0 -32px;
  background: url("../images/logo.png");
}

header h1 a {
  display: block;
  height: 214px;
  width: 103px;
}

nav {
  float: right;
}

nav li {
  display: inline-block;
  list-style: none;
  line-height: 103px;
  margin-left: 20px;
  font-family: 'futura-pt-1', 'futura-pt-2';
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
}

nav a, nav a:visited {
  color: #222;
}

nav a:hover {
  color: #55d08f;
  text-decoration: none;
}

.post {
  margin: 0 0 24px 0;
}

.post-meta {
  margin: 0;
  padding: 11px 0 48px 80px;
  border-top: 1px solid #f1f1f1;
}

.post-meta:before {
  position: relative;
  top: 15px;
  right: -120px;
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background: #55d08f;
}

.post-meta p {
  margin: 0;
  padding: 0;
  color: #999;
  font-family: "ff-meta-web-pro-1","ff-meta-web-pro-2";
  font-size: 14px;
  letter-spacing: 0.2em;
  line-height: 1.714285714; /* 24/14 = 1.714285714 */
  text-transform: uppercase;
}

.post-meta p+p {
  color: #ddd;
}

h1 {
  margin: 0 0 24px 0;
  font-family: "futura-pt-1", "futura-pt-2";
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 48px;
  text-transform: uppercase;
}

h2 {
  display: inline-block;
  width: 380px;
  margin: 0 0 24px 0;
  color: #222;
  font-family: "futura-pt-1","futura-pt-2";
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 1;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

h2 a, h2 a:visited {
  color: #222;
  text-decoration: none;
}

h2 a:hover {
  color: #55d08f;
}

h2 small {
  font-weight: 500;
  font-size: 18px;
  font-style: italic;
  text-transform: none;
}

h3 {
  margin: 36px 0 12px 80px;
  font-family: "futura-pt-1","futura-pt-2";
  font-size: 16px;
  letter-spacing: 0.1em;
  line-height: 1.5;
  text-transform: uppercase;
}

h4 {
  margin: 12px 0 12px 80px;
  color: #777;
  font-family: "futura-pt-1","futura-pt-2";
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

p {
  font-family: "ff-meta-web-pro-1","ff-meta-web-pro-2";
  color: #333;
  margin: 0 80px 24px 80px;
}

blockquote p {
  margin: 0 0 24px 80px;
  padding: 0 0 0 24px;
  border-left: 1px solid #f1f1f1;
  font-family: "futura-pt-1","futura-pt-2";
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  color: #777;
}

a {
  color: #2679b2;
  text-decoration: none;
}

a:visited {
  color: #741eb0;
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}

pre {
  margin: 0 0 24px 80px;
  padding: 11px;
  background: #fafafa;
  border: 1px solid #eaeaea;
  border-left: 3px solid #eaeaea;
  font-size: 14px;
  font-family: "inconsolata-1","inconsolata-2";
}

img {
  border: 1px solid #ddd;
  line-height: 1;
}

.pull-left {
  float: left;
  margin-left: -80px;
  margin-right: 20px;
}

.pull-right {
  float: right;
  margin-right: -80px;
  margin-left: 20px;
}

iframe {
  margin: 0 0 24px 0;
  padding: 0;
}

.clearfix:before, .clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* Pygments */
/*------------------------------------------------------------------------------
  @group Default Pygments Styles
------------------------------------------------------------------------------*/

.highlight  { background: #ffffff; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: normal } /* Keyword */
.highlight .o { font-weight: normal } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */

