---
layout: default
---

{% for post in site.posts %}
  {% if post.type == "link" %}
    <article class="link">
      <h3><a href="{{post.link}}">{{ post.title }}</a></h3>
      {{ post.content }}
    </article>
  {% else %}
    <article class="post">
      <div class="post-content">
        <h2><a href="{{post.url}}">{{ post.title }}</a></h2>
        {{ post.content }}
      </div>
      <div class="post-meta">
        <p>{{ post.date | date: "%d %h %Y" }}</p>
      </div>
    </article>
  {% endif %}
{% endfor %}