<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>
    {% if page.title %}
      {{ page.title }} &mdash; Bleikamp.com
    {% else %}
      Ben Bleikamp: Internet creator
    {% endif %}
  </title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="alternate" type="application/rss+xml"  title="RSS"   href="/feed.xml" />
  <script type="text/javascript" src="//use.typekit.net/sng3dmb.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
  <div class="container">
    <header class="clearfix">
      <h1><a href="/">Ben Bleikamp</a></h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about.html">About</a></li>
        </ul>
      </nav>
    </header>
